@media screen and (min-width: 768px) {
    .content {
        width: 75%;
    }

    .post {
        display: flex;
        flex-wrap: wrap;
    }

    .entry-header,
    .entry-meta {
        flex-basis: 100%;
    }

    .post-image {
        flex-basis: 40%;
    }

    .entry-content {
        flex-basis: 60%;
        padding-left: 1.6rem;
    }
}