@media screen and (min-width: 768px) {
    .grid-container-1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10rem 1fr 10rem;
        grid-template-areas:
            "header header header"
            "sidebar main-content main-content"
            "footer footer footer";
    }

    .grid-container-2 {
        /* max-width: 102.4rem;
        margin: 0 auto; */
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-rows: 9rem;
        grid-template-areas:
            "header header header header header"
            ". sidebar main-content main-content ."
            ". sidebar main-content main-content . "
            ". sidebar main-content main-content ."
            ". sidebar extra extra ."
            ". sidebar extra extra ."
            ". related-images related-images related-posts ."
            "footer footer footer footer footer";
    }
}