@import url("./modules/normalize.css");
@import url("./modules/reset.local.css");
@import url("./modules/typography.css");

/* basics */

.flex-lines__container {
    display: flex;
    flex-wrap: wrap;
    color: #028082;
}

.flex-lines__item {
    width: 30rem;
    border: .1rem solid #028082;
    background-color: #cdf6eb;
}

.axis__container {
    width: 60rem;
    height: 40rem;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    background-color: #028082;
    color: #fff;
}

.item_1 {
    background-color: #ff8a00;
}

.item_2 {
    background-color: #f00;
}

/* flex container properties */

.flex-container {
    width: 30%;
    height: 40rem;
    padding: 1%;
    border: .1rem solid #028082;
    margin: 0 auto;
    display: flex;
    background-color: #85d0bc;
    color: #028082;
}

.flex-item {
    width: 10rem;
    height: 20rem;
    border: .1rem solid #028082;
    background-color: #cdf6eb;
}

.inline-flex {
    /* a single line and all flex items seek
    to fill side by side the flex container. */
    /* display: flex; */

    /* inline behavior of the flex container. */
    display: inline-flex;
}

.flex-direction {
    /* flex-direction: row; */
    flex-direction: column;
}

.wrap {
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.justify-content {
    flex-wrap: wrap;
    justify-content: space-between;
}

.align-items {
    flex-wrap: nowrap;
    align-items: stretch;
    align-items: center;
    /* cross-start margin edge of the items is placed on the cross-start line */
    align-items: flex-start;
    /* align items along their content's baseline (typography) */
    align-items: baseline;
}

.align-items .flex-item,
.align-content .flex-item {
    /* to use align-items: stretch height must be auto */
    height: auto;
    /* height: 20rem; */
}

.baseline {
    font-size: 2em;
}

.align-content {
    flex-wrap: wrap;
    align-content: space-around;
}

/* flex items properties */
.flex-grow,
.flex-shrink,
.flex-basis {
    width: 50rem;
    padding: initial;
}

.flex-basis {
    flex-direction: column;
}

.flex-grow .flex-item,
.flex-shrink .flex-item,
.flex-basis .flex-item {
    width: 7.5rem;
    height: 7rem;
    border: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    /* growth factor */
    flex-grow: 1;
    /* 
    available space = flex container width - sum of flex items width 
    available space = 50rem - (4 * 7.5rem) = 20rem

    growth unit = available space / sum of growth factor
    growth unit = 20rem / (3 * 1 + 2) = 4rem

    each flex-item will grow 4rem
    */
}

.flex-shrink .flex-item {
    width: 20rem;
    height: 7rem;
    /* default */
    flex-shrink: 1;
}

.flex-basis .flex-item {
    height: 7rem;
    flex-grow: initial;
    flex-shrink: initial;
    flex-shrink: 0;
    flex-basis: auto;
    flex-basis: 10rem;
    flex-basis: 15rem;
}

.flex-grow .flex-item:nth-child(even),
.flex-shrink .flex-item:nth-child(even),
.flex-basis .flex-item:nth-child(even) {
    background-color: #a4ddce;
}

.flex-grow .flex-item:nth-child(2) {
    flex-grow: 2;
    /* growth unit = 2 * 4rem */
}

.flex-shrink .flex-item:nth-child(1) {
    /* keep the flex item width */
    flex-shrink: 0;
}

.flex-shrink .flex-item:nth-child(2) {
    flex-shrink: 2;
}