@media screen and (min-width: 480px) {

    nav,
    nav ul {
        flex-direction: row;
    }

    nav ul {
        width: 30%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        margin: 0 !important;
        flex: 0 1 31%;
    }

    .menu {
        display: none;
    }
}